// 1360x750
// #ffffd4
@use './common.scss' as *;

.slide_wrap {
    width: 1360px; height: 750px;
    background-color: #ffffd4 ;
    background-image: url(../images/home_chun_yellow_250813.png);
    @include bg-cover;
    background-size: 800px auto;
    background-position: 80% center;
    padding: 50px;
    .slide_container {
        .slide1 {
            .title_contents {
                h1 {}
                p {}
            }
            .bnr_link { display: flex;
                .bnr1 {
                    @include bnr;
                    color: $btn-light;
                    background-color: $btn-dark;
                }
                .bnr2 {
                    @include bnr;
                    color: $btn-dark;
                }
                
            }
        }
    }
}