@mixin flex-row {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
@mixin sllde_w_h_pc {
    width: 800px; height: 350px;
}
$purple-color: #ff39ee;
$coral-color: #fa2372;

#slide_container {
    background-color: yellow;
    width: 800px; overflow: hidden;
    .slide_wrap {
        color: rebeccapurple;
        @include flex-row;
        width: calc(800px*2);
        transform: translateX(-800px);
        .slide {
            @include sllde_w_h_pc;
        }
        .slide1 {border: 1px solid $purple-color ; color: blue;}
        .slide2 {border: 1px solid $coral-color;}
    }
}