@use './common.scss' as *;

body {
    display: flex; justify-content: center;
    margin: 50px;
    #insta {
        background-color: #fff;
        width: 420px; height: 640px;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
        .top {
            display:flex;
            justify-content: space-between;
            padding: 15px;
            .username {
                @include flex ;
                align-items: center; gap: 5px;
                .photo{
                    background-image: url(../images/like_on.png);
                    background-size:cover ;
                width: 24px; height: 24px; border-radius: 50px;
                }
                .name {}
            }
            .more{}
        }
        .photobg {
            background-image: url(https://plus.unsplash.com/premium_photo-1677343210638-5d3ce6ddbf85?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsfGVufDB8fDB8fHww);
            width: 420px; height: 450px;
        }
        .content {
            .top {
                .icon {
                    a {
                        img {
                            width: 20px; height: 20px;
                        } 
                    }
                    
                }
            }
            .comments {
                padding: 0 15px;
                a {font-size: 0.875rem; color: #aaa;}
                .day {font-size: 0.875rem;}
            }
        }
    }
}

