// common.scss
$font-size-main:1.875rem; //30
$font-size-sub:0.938rem; //15
$font-size-review:0.75rem; //12
$font-size-price1:1.25rem; //20
$font-size-price2:1.125rem; //18
$font-size-free:0.813rem; //13
$font-size-cart:1.063rem; //17
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;
$color-white:#fff;
$color-black:#000;
$color-gray2:#aaa;
$color-main:#008a48;
$color-red:#e63d3d;
$color-gift:#E3403B;
$color-font-review1:#3a4046;
$color-font-review2:#707070;
$color-box-line:#353535;
$color-line:#595959;
$color-gray:#666666;
$color-font-gray:#999999;
$color-font-main:#222222;
@mixin content-w {max-width: 1280px; min-width: 320px; margin: 0 auto;}
@mixin flex-row {display: flex; flex-flow: row nowrap;}
@mixin flex-col {display: flex; flex-flow: column nowrap;}
@mixin img100Percent {width: 100%; height: auto;}
@mixin thumnail {width:80px ; height: 80px;}
@mixin thumnail_big {width:640px ; height:640px;}
@mixin button {
    width: 190px; height: 50px; text-align: center;
    border: 1px solid $color-main; font-weight: $font-weight-semibold;
}